* {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  box-sizing: border-box;
  
}

html{ 
  background-color: #1f1f1f;  
  background: rgba(255, 255, 255, 0.2);
  background-image: url('../img/bg\ \(2\).jpg');
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

main {
  margin: 3em 10em;
  border-radius: 25px;
  background: rgba( 16, 16, 16, .95 );
  box-shadow: -3px -8px 10px 0 rgba(69, 69, 70, 0.37);
  color: antiquewhite;
}

.content  {
  padding: 2em 7em;
}

h1 {
  font-size: 50px;
  margin: 10px;
}

h2 {
  font-size: 2em;
}

h4 {
  font-weight: 600;
  color: #DF265E;
}

h5 {
  font-weight: 400;
}

.menu {
  margin: 5em 2em 2em 2em;
  padding: 2em;
  height: 80vh;
  width: 200px;
  border-radius: 25px;;
  position: fixed;
  list-style-type: none;
  color: rgb(203, 202, 202);
  background: rgba( 16, 16, 16, 1 );


  display: flex;
  flex-direction: column;
}

.banner {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
  
}

button { 
  border: 5px solid #e0567f;
  background-color: transparent;
  color: whitesmoke;
  margin: auto;
  width: 200px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  
}

button:hover {
  background-color: #e0567f; 
}

.skills {
  padding: 2em;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: ghostwhite;
}

.skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.summary {
  width: 100%;
  display: flex;
}

.summary2 {
  padding: 5em;
  background-color: #0A223F;
  color: aliceblue;
}

.home-img {
  max-width: 50%;
  padding: 0;
}

img {
  width: 100%;
}

.sample {
  max-width: 500px;
  padding: 1em;
}
.work {
  background-color: blueviolet;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

/* resume page */
.education, .work-experience {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: solid .5px rgba(90, 89, 89, 0.2);
  
}

.data {
  padding: 1em;
  border: solid .5px rgba(90, 89, 89, 0.2);
}

.history, .skill {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-width: 3px;
  /* border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(84, 83, 83), 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
    
}

.img-contact {
  border-radius: 25px 0px 0px 25px;
  max-width: 85%;
  height: 100%;
}
.form {
  width: 500px;
  padding: 2em;
}
.social {
  display: flex;
}

.item {
  padding: 10px;
  margin: 15px;

  display: flex;
  justify-content: space-between;
}
