* {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  box-sizing: border-box;
}

main {
  margin-left: 250px;
}

.menu {
  padding: 2em;
  height: 100vh;
  width: 250px;
  background-color: #0A223F;
  position: fixed;
  list-style-type: none;
  

  display: flex;
  flex-direction: column;

}

.menu li {
  padding: 1em;
  background-color: aquamarine;
}

small{
  color: none;
  margin-top: auto;
  color:azure
}
.banner {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
  
  background-image: url('../img/bg-home.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: rgba(186, 63, 202, 0.645);
  background-blend-mode: multiply;
}
