* {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  box-sizing: border-box;
}

main {
  margin-left: 250px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

.menu {
  padding: 2em;
  height: 100vh;
  width: 250px;
  background-color: #0A223F;
  position: fixed;
  list-style-type: none;
  

  display: flex;
  flex-direction: column;
}

.menu li {
  padding: 1em;
  background-color: aquamarine;
}

small{
  color: none;
  margin-top: auto;
  color:azure
}
.banner {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
  
  background-image: url('../img/bg-home.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: rgba(186, 63, 202, 0.645);
  background-blend-mode: multiply;
}

button {
  background-color: ghostwhite; 
  margin: auto;
  border: none;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.skills {
  padding: 2em;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: ghostwhite;
}

.skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.summary {
  width: 100%;
  display: flex;
}

.summary2 {
  padding: 5em;
  background-color: #0A223F;
  color: aliceblue;
}

.home-img {
  max-width: 50%;
  padding: 0;
}

img {
  width: 100%;
}

.sample {
  max-width: 500px;
  padding: 1em;
}